<hr />
<p>
  <a routerLink="./checkout-via-ng-on-init"
    >Load checkout mfe via an ngOnInit</a
  >
</p>
<p>
  <a routerLink="./checkout-via-directive"
    >Load checkout mfe via an Angular directive</a
  >
</p>
<p>
  <a routerLink="./checkout-via-route-resolver"
    >Load checkout mfe via a route resolver</a
  >
</p>
<p>
  <a routerLink="./checkout-via-route-guard"
    >Load checkout mfe via a route guard</a
  >
</p>
<hr />
<p>
  <a routerLink="./payment-via-ng-on-init">Load payment mfe via an ngOnInit</a>
</p>
<p>
  <a routerLink="./payment-via-directive"
    >Load payment mfe via an Angular directive</a
  >
</p>
<p>
  <a routerLink="./payment-via-route-resolver"
    >Load payment mfe via a route resolver</a
  >
</p>
<hr />
<router-outlet></router-outlet>
