<div class="card">
  Shell running Angular {{ version }}
  <p *ngIf="componentLoaded">
    <button (click)="reload()">Reload</button>
  </p>
  <p *ngIf="!componentLoaded">Loading component from remote...</p>
  <p *ngIf="componentLoaded">MyComponent has been loaded from remote!</p>
  <ng-template
    loadRemoteComponent
    remoteEntry="http://localhost:4201/remoteEntry.js"
    exposedModule="./my-component"
    componentName="MyComponent"
    [inputData]="inputData"
    [outputData]="outputData"
    (loaded)="componentLoadedHandler()"
  ></ng-template>
  <p *ngIf="componentLoaded">Message received by the shell from the component:</p>
  <p *ngIf="componentLoaded">{{ message }}</p>
</div>
